/*
    DEMO STYLE
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');


#content .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	display: none;
}

#content .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.wrapper .img-responsive{
	display: inline;
	
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #e3e3e3;
    color: #000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
	border-right: 1px solid #dadada;
	padding: 20px;
	
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

.sideBarNav{
	margin: 0px 0px 30px 0px;
}

.sideBarNav h3{
	font-weight: 600px;
	font-size: 18px;
	color:#000;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	text-transform: uppercase;
}

.sideBarNav ul{
	padding: 0px;
	margin: 0px;
}

.sideBarNav ul li{
	list-style:disc;
	font-size: 14px;
	font-weight: 600px;
	color: #757575;
	margin-bottom: 10px;
	margin-left: 15px;
}

.sideBarNav ul li a{
	list-style: none;
	font-size: 14px;
	font-weight: 600px;
	color: #757575;
	text-decoration: none;
}

.sideBarNav ul li a:hover{
	text-decoration: none;
    border-bottom: 1px dotted;
	color: #000;
}

.sideBarNav ul li a.active{
	text-decoration: none;
    border-bottom: 1px dotted;
	color: #000;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px ;
    min-height: 100vh;
    transition: all 0.3s;
	position: relative;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #007eff;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	#content .navbar-btn {
		box-shadow: none;
		outline: none !important;
		border: none;
		position: absolute;
		left: -10px;
		top:-10px;
	}
	
	
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
		
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
	
	#content .navbar {
		padding: 10px;
		background: #fff;
		border: none;
		border-radius: 0;
		margin-bottom: 40px;
		display: block;
	}

}
