/*----------------------------------
# Media Css
------------------------------------*/
@media screen and (max-width: 1024px) {
	.bottomHeader .container{
		width: 100%;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
	
	}
	
	.manu-wrapper a.tool-link{
		float: none;
	}
}

@media screen and (max-width: 768px) {
	
	.footerBotom{
		text-align: center;
	}
	
	.social-media {
		float:none;
		text-align: center;
		margin-top: 20px;
	}
}


@media screen and (max-width: 767px) {
	.footerMid .text-center{
		text-align: center;
	}
	
	.logo{
		text-align:center;
		margin-bottom: 20px;
	}
	
	.top-social-info {
		margin-top: 15px;
		float: none;
		text-align: center;
	}
	
	.leftFirst{
		float:none;
		width: 100%;
		text-align: left;
	}

	.rightFirst{
		float:none;
		width: 100%;
		text-align:center;

	}
	
	.leftSecond{
	
		float:none;
		width: 100%;
		text-align: center;
	}

	.rightSecond{
		float:none;
		width: 100%;
		text-align:left;

	}
	
	
}
























