@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

body{
	font-family: 'Montserrat', sans-serif;
	color: #595959;
	font-weight: 400;
}

.img-responsive{
	display: inline;
}

.topHeader{
	width: 100%;
	background: #007eff;
	padding: 20px 0px 20px 0px;
}

.logo{
	text-align: left;
	margin-bottom: 0px;
}

.logo .img-responsive{
	    display: inline;
}

.search_content
{
	height:auto;
}

.search_container_form
{
	position: relative;
	width: 100%;
}

.search_container_input
{
	width: 100%;
	height: 37px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_container_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.search_container_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}

.search_container_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 37px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #eaeaea;
	color: #007eff;
}

.top-social-info{
	font-size: 20px;
	margin-top: 5px;
	float: right;
	text-align: left;
}

.top-social-info .fa-facebook{
	color: #fff;
	margin-right: 10px;
}

.top-social-info .fa-twitter{
	color: #fff;
	margin-right: 10px;
}

.top-social-info .fa-google-plus{
	color: #fff;
	margin-right: 10px;
}

.top-social-info .fa-envelope-o{
	color: #fff;
	
}

.bottomHeader{
	width: 100%;
	background: #fff;
	padding: 10px 0px 10px 0px;
	background-color: #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    position: relative;
    z-index: 9;
}

.bottomHeader .container{
	width: 1170px;
	
}

.manu-wrapper a:first-child {
    margin-left: -10px;
}
.manu-wrapper a {
    color: #000;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
}

.manu-wrapper a.tool-link {
    float: right;
    display: inline-block;
    border-radius: 30px;
    line-height: 28px;
    position: relative;
    height: auto;
    top: 9px;
    padding: 0 12px;
    color: #007eff;
    border: 1px double #007eff;
}

.containSection{
	margin-top: 20px;
	color:#000;
	font-size: 14px;
	line-height: 28px;
	border-bottom: 1px solid #dadada;
	padding-bottom: 20px;
}

.conSecLeft{
	margin-bottom: 50px;
}

.containSection h1{
	font-size: 34px;
	margin:0px 0px 20px 0px;
	font-weight: 700;
	padding: 0px;
}

.containSection h2{
	font-size: 28px;
	margin:20px 0px 10px 0px;
	font-weight: 600;
	padding: 0px;
}

.containSection span{
	color: #007eff;
	font-weight: 500;
}

.containSection a{
	color: #006bd8;
}

.part{
	clear: both;
}

.leftFirst{
	float: left;
	width: 65%;
	text-align: left;
}

.rightFirst{
	float:right;
	width: 25%;
	text-align: right;
	
}

.leftSecond{
	
	float:left;
	width: 25%;
	text-align:left;
}

.rightSecond{
	float:right;
	width: 65%;
	text-align:right;
	
}
.border-right{
	border-right: 1px solid #d9d9d9;
}

.footerTop{
	width: 100%;
	background: #007eff;
	padding: 15px 0px 15px 0px;
	color:#fff;
	font-size: 15px;
	text-align: center;
}

.footerTop a{
	color:#a9d2fb;
	text-decoration: none;
}

.footerTop a:hover{
	color:#001a34;
	text-decoration: none;
}

.footerMid{
	width: 100%;
	background: #001433;
	padding: 45px 0px 15px 0px;
	color:#fff;
	font-size: 14px;
}

.footerMid h4{
	font-size: 16px;
	font-weight: 600;
	color: #007eff;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.footerMid ul{
	padding: 0px;
	margin: 0px 0px 35px 0px;
}

.footerMid ul li{
	list-style:inside;
	margin-bottom: 15px;
}

.footerMid ul li a{
	text-decoration: none;
	color:#fff;
	font-size: 13px;
}

.footerMid ul li a:hover{
	text-decoration:underline;
	color:#fff;
	font-size: 13px;
}

.footerMid img{
	margin-top: 25px;
	opacity: 0.5;
	margin-bottom: 30px;
}

.footerMid .text-center{
		text-align:left;
	}


.footerBotom{
	width: 100%;
	background: #000a14;
	padding: 15px 0px 15px 0px;
	color:#7796b4;
	font-size: 13px;
	font-weight: 500;
	line-height: 34px;
	text-align: left;
}

.social-media {
    float: right;
    text-align: center;
	margin-top: 0px;
}

.social-media em {
    font-style: normal;
    position: relative;
    
}

.social-media a {
    width: 34px;
    height: 34px;
    color: #FFF;
    opacity: .4;
    font-size: 12px;
    display: inline-block;
    margin-left: 15px;
    border-radius: 40px;
    text-align: center;
    border: 2px solid;
	line-height: 32px;
}

/*----------------------------------
# About Css
------------------------------------*/
.codingBox{
	background: #d0e5fc;
	border: 1px solid #007eff;
	color:#000;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	padding: 20px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.part h2{
	font-size: 20px;
	margin:20px 0px 10px 0px;
	font-weight: 600;
	padding: 0px;
}

.note{
	font-style: italic;
}

/*----------------------------------
# Bootstrap Css
------------------------------------*/

.Tip{
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.67);
	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.67);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.67);
	padding: 20px 10px;
	color:#000;
	font-size: 15px;
	font-weight: 500;
	line-height:24px;;
	padding: 20px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	background: #b6d8fa;
	border-radius: 0px;
}




/*========================= start Dhiman 2020-12-19 ============================*/


.main_body_scroll{
	margin-top:0;
	padding:0;
}
.white_box_border {
	border: 1px solid rgba(33,36,44,0.16);
	padding: 16px 24px 24px 16px;
	background-color: #fff;
	margin: 20px 0 0 0;
}
.main_headding h2 {
	position: relative;
	padding: 6px 0 0 0;
	margin: 0 0 0 50px;
}
.main_headding:after{
	content: "";
	background:url(../images/icon1.png) no-repeat left center;
	padding:0;
	margin:0 20px 0 0;
	width:32px;
	height:32px;
	border-radius: 16px;
	background-size: cover;
	position:absolute;
	left:18px;
	top:0;
}
.main_headding a.headding_link h2 {
	font-size: 20px;
	color: #000;
	font-weight: 400;
	text-decoration: none;
}
.box_main_link1{
	padding:0;
	margin:0;
}
.box_main_link1 ul{
	padding:0;
	margin:0;
	list-style-type:none;
	line-height:normal;
}
.box_main_link1 li {
	padding: 0;
	margin: 0;
	line-height: 25px;
}
.box_main_link1 a.new_box_main_link{
	font-size:15px;
	color: #333;
	font-weight:400;
	line-height:normal;
	text-decoration:none;
}
.box_main_link1 a.new_box_main_link:hover{
	font-size:15px;
	color: #333;
	font-weight:400;
	line-height:normal;
	text-decoration:underline;
}
.main_headding {
	border-bottom: 1px solid rgba(33,36,44,0.16);
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
}
a.new_box_main_link2{
	font-size:15px;
	color: #333 !important;
	font-weight:400;
	line-height:normal;
	text-decoration:none;
}
a.new_box_main_link2:hover{
	font-size:15px;
	color: #333;
	font-weight:400;
	line-height:normal;
	text-decoration:underline;
}







